.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.grid-container {
    display: flex;
    justify-content: space-between;
    width: max(400px,40vw);
    height: max(400px,40vw);
    box-shadow: 0px 3px 8px;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-square {
    /*border: 1px solid black;*/
    flex: 1;
}

input {
    margin-bottom: 15px;
}

input[type="color"] {
    height: 2rem;
    width: auto;
}

input[type="range"] {
    accent-color: black;
}


button.selected {
    filter: invert(100%);
}



h1 {
    text-align: center;
}

button {
    margin-bottom: 15px;
}